<section id="about">
    <div class="container-fluid">
        <div class="row font-family-gothic">
            <div class="position-absolute w-100 h-100 z-30 d-none d-lg-flex align-items-center justify-content-center">
                <span class="rfs-48 text-dark-to-white-horizontal">{{ site.about.center }}</span>
            </div>
            <div class="position-absolute w-100 h-200 z-30 d-flex d-lg-none align-items-center justify-content-center">
                <span class="rfs-64 text-center text-dark-to-white-vertical">{{ site.about.center }}</span>
            </div>
            <div class="col-12 col-lg-6 py-5 vh-100 bg-white d-flex align-items-end">
                <span class="rfs-28 mb-5 pb-5 m-lg-0 p-lg-0">{{ site.about.left }}</span>
            </div>
            <div class="col-12 col-lg-6 p-0 vh-100 portrait d-flex align-items-center justify-content-center">
                <span class="rfs-28 text-white text-center px-5 mb-lg-15">{{ site.about.right }}</span>
            </div>
        </div>
    </div>
</section>