<section id="contact" class="position-relative">
    <div class="container-fluid">
        <div class="row font-family-roboto text-white">
            <div class="vh-100 col-12 col-lg-6 d-flex align-items-center">
                <h2 class="rfs-64">stainedby CONTACT</h2>
            </div>
            <div class="vh-100 py-5 px-lg-5 col-12 col-lg-6">
                <form class="m-lg-5 p-3 p-lg-5 bg-black-quarter" action="mailto:{{ site.email }}" method="GET" enctype="text/plain">
                    <div class="form-group">
                        <label class="col-form-label d-block rfs-32" for="form-subject">Subject</label>
                        <input type="text" name="subject" class="form-control" placeholder="" id="form-subject">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label d-block rfs-32" for="form-comments">Message</label>
                        <textarea name="body" class="form-control" id="form-comments" rows="9" placeholder=""></textarea>
                    </div> 
                    <button type="submit" class="btn btn-secondary">Submit Mail</button>
                </form>
            </div>
            <div class="col-12 border border-danger pt-4 bg-black-quarter">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 rfs-32 align-middle pb-4 py-lg-0 col-lg-6">
                            <img src="/assets/images/logo.svg" alt="" class="h-1em" style="margin-right: -0.5em">                            
                            {{ site.project }}
                        </div>
                        <div class="col-12 col-lg-6 rfs-16 text-right">
                            <strong><a href="tel:{{ site.telephone }}" class="text-white">{{ site.telephone }}</a></strong><br />
                            <a href="mailto:{{ site.email }}" class="text-white">{{ site.email }}</a><br />
                            {{ site.address }}<br />
                            <img src='/assets/images/marks.svg' alt='' class='h-1em' />
                        </div>
                        <div class="col-12 py-2 rfs-8 text-center">
                            2020 by stainedby CORP. ALL RIGHT RESERVED
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>