---
---

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Oswald&family=Roboto&display=swap');
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "extends-spacing";

.z-30 {
    z-index: 30;
}

.font-family-gothic {
    font-family: 'Gothic A1', sans-serif;
}

.font-family-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-family-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-size-1vh {
    font-size: 1vh;
}

.font-size-1-5vh {
    font-size: 1.5vh;
}

.font-size-xlarge {
    font-size: x-large;
}

.rfs-16 {
    @include rfs(16);
}

.rfs-24 {
    @include rfs(24);
}

.rfs-28 {
    @include rfs(28);
}

.rfs-32 {
    @include rfs(32);
}

.rfs-48 {
    @include rfs(48);
}

.rfs-64 {
    @include rfs(64);
}

.rfs-112 {
    @include rfs(112);
}

.rfs-128 {
    @include rfs(128);
}

.rfs-144 {
    @include rfs(144);
}

.opacity-quarter {
    opacity: 0.25;
}

.w-1em {
    width: 1em;
}

.mw-5 {
    max-width: 5%;
}

.mw-10 {
    max-width: 10%;
}

.h-0-9em {
    height: 0.9em;
}

.h-1em {
    height: 1em;
}

.h-1vh {
    height: 1vh;
}

.h-1-5vh {
    height: 1.5vh;
}

.h-200 {
    height: 200% !important;
}

.flip-horizontal {
    transform: scale(-1,1);
}

.blend-difference {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.navbar-brand > img {
    width: 4em;
    height: 3em;
}

.cover-image {
    background-size: cover;
    object-fit: cover;
}

.text-dark-to-white-horizontal {
    background: linear-gradient(to right, $dark 0%, $dark 50.1%, $white 50.1%, $white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-dark-to-white-vertical {
    background: linear-gradient(to bottom, $dark 0%, $dark 50.1%, $white 50.1%, $white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about .portrait {
    background-image: url('/assets/images/about.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}